@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

$pink-color: #e3378d;
$blue-color: #3cbed0;
$green-color: #55dfb8;
$white-color: #f5f5f5;
$light-gray: #bfbfbf;
$dark-gary: #8b8b8b;
$background-color: #121213;
$dark-white-color: #f0eeee;

* {
    color: $white-color;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: $white-color;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

.titleContainer {
    width: 100%;
    text-align: center;
    h1 {
        color: $background-color;
    }
}

.pdfContainer {
    width: 100vw;
    height: 100vh;
    margin-top: 10px;
}

.menuButton {
    width: 60px;
    height: 60px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 50px;
    display: inline-block;
    text-decoration: none;
    margin: 0 5px 25px 5px;
    transition: all 0.3s ease-out;
    background-color: $dark-white-color;
    box-shadow: 0px 5px 0px $blue-color;

    span {
        font-size: 14px;
        font-weight: 800;
        line-height: 60px;
        margin-left: 10px;
        color: $pink-color;
        transition: all 0.3 ease-out;
    }

    &:hover {
        background-color: $dark-white-color;
        box-shadow: 0px 5px 0px $pink-color;
        i {
            color: $pink-color;
        }
        .icon {
            background-color: $dark-white-color;
        }
    }

    &:nth-child(1):hover {
        width: 210px;
        cursor: default;
    }

    &:nth-child(2):hover {
        width: 150px;
    }

    &:nth-child(3):hover {
        width: 150px;
    }

    &:nth-child(4):hover {
        width: 125px;
    }
}

.icon {
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    transition: all 0.3 ease-out;

    i {
        font-size: 25px;
        line-height: 60px;
        color: $blue-color;
        transition: all 0.3 ease-out;
    }
}
