@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    font-size: 18px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

$pink-color: #e3378d;
$blue-color: #3cbed0;
$green-color: #55dfb8;
$white-color: #f5f5f5;
$light-gray: #bfbfbf;
$dark-gary: #8b8b8b;
$background-color: #121213;

body {
    width: 100%;
    background-color: $white-color;
}

.container {
    width: 40rem;
    margin: 2rem auto;
    .title {
        font-size: 36px;
        text-align: center;
        margin-bottom: 2rem;
    }
}

.form {
    display: flex;
    overflow: hidden;
    margin-top: 1rem;
    border-radius: 5px;
    align-items: center;
    background-color: aliceblue;

    input {
        flex: 1;
        border: none;
        outline: none;
        padding: 0.7rem;
    }

    .save-button {
        border: none;
        color: white;
        padding: 0.7rem;
        cursor: pointer;
        background-color: $green-color;

        &:hover {
            background-color: rgba($color: $green-color, $alpha: 0.7);
        }

        &:disabled {
            color: $dark-gary;
            cursor: default;
            background-color: $light-gray;
        }
    }
}

.lists .todoContainer {
    gap: 0.5rem;
    display: flex;
    border-radius: 5px;
    margin-top: 0.8rem;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    padding: 0.5rem 0.8rem 0.5rem 0.8rem;

    i {
        cursor: pointer;
        &:hover {
            color: $blue-color;
        }
    }
}

.fa-trash {
    &:active {
        color: $pink-color !important;
    }
}

.fa-check {
    &:hover {
        color: $green-color !important;
    }
}

.todoContainer {
    &:nth-child(odd):hover {
        transition: all 0.3s ease-out;
        box-shadow: 1px 5px 0px $blue-color;
    }

    &:nth-child(even):hover {
        transition: all 0.3s ease-out;
        box-shadow: 1px 5px 0px $pink-color;
    }
}

.todo {
    width: 90%;
    gap: 0.5rem;
    display: flex;
    outline: none;
    justify-items: center;
}

.iconContainer {
    width: 8%;
    display: flex;
    justify-content: space-between;
}

.delete-all-button {
    border: none;
    color: white;
    padding: 0.7rem;
    cursor: pointer;
    margin-top: 0.7rem;
    border-radius: 5px;
    background-color: $blue-color;

    &:hover {
        background-color: rgba($color: $blue-color, $alpha: 0.7);
    }
}

.menuContainer {
    bottom: 0px;
    padding: 1rem;
    position: absolute;

    span {
        font-size: 16px;
        font-weight: 500;
        line-height: 60px;
        margin-left: 10px;
        color: $white-color;
        transition: all 0.3 ease-out;
    }
}

.menuButton {
    float: left;
    width: 60px;
    height: 60px;
    margin: 0 5px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 50px;
    display: inline-block;
    text-decoration: none;
    background-color: $white-color;
    transition: all 0.3s ease-out;
    box-shadow: 0px 5px 0px $blue-color;

    span {
        font-size: 14px;
        font-weight: 800;
        line-height: 60px;
        margin-left: 10px;
        color: $pink-color;
        transition: all 0.3 ease-out;
    }

    &:hover {
        width: 150px;
        background-color: $white-color;
        box-shadow: 0px 5px 0px $pink-color;
        i {
            color: $pink-color;
        }
        .icon {
            background-color: $white-color;
        }
    }
}

.icon {
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    transition: all 0.3 ease-out;

    i {
        font-size: 25px;
        line-height: 60px;
        color: $blue-color;
        transition: all 0.3 ease-out;
    }
}
