@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 18px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  background-color: #f5f5f5;
}

.container {
  width: 40rem;
  margin: 2rem auto;
}
.container .title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 2rem;
}

.form {
  display: flex;
  overflow: hidden;
  margin-top: 1rem;
  border-radius: 5px;
  align-items: center;
  background-color: aliceblue;
}
.form input {
  flex: 1;
  border: none;
  outline: none;
  padding: 0.7rem;
}
.form .save-button {
  border: none;
  color: white;
  padding: 0.7rem;
  cursor: pointer;
  background-color: #55dfb8;
}
.form .save-button:hover {
  background-color: rgba(85, 223, 184, 0.7);
}
.form .save-button:disabled {
  color: #8b8b8b;
  cursor: default;
  background-color: #bfbfbf;
}

.lists .todoContainer {
  gap: 0.5rem;
  display: flex;
  border-radius: 5px;
  margin-top: 0.8rem;
  align-items: center;
  background-color: white;
  justify-content: space-between;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
}
.lists .todoContainer i {
  cursor: pointer;
}
.lists .todoContainer i:hover {
  color: #3cbed0;
}

.fa-trash:active {
  color: #e3378d !important;
}

.fa-check:hover {
  color: #55dfb8 !important;
}

.todoContainer:nth-child(odd):hover {
  transition: all 0.3s ease-out;
  box-shadow: 1px 5px 0px #3cbed0;
}
.todoContainer:nth-child(even):hover {
  transition: all 0.3s ease-out;
  box-shadow: 1px 5px 0px #e3378d;
}

.todo {
  width: 90%;
  gap: 0.5rem;
  display: flex;
  outline: none;
  justify-items: center;
}

.iconContainer {
  width: 8%;
  display: flex;
  justify-content: space-between;
}

.delete-all-button {
  border: none;
  color: white;
  padding: 0.7rem;
  cursor: pointer;
  margin-top: 0.7rem;
  border-radius: 5px;
  background-color: #3cbed0;
}
.delete-all-button:hover {
  background-color: rgba(60, 190, 208, 0.7);
}

.menuContainer {
  bottom: 0px;
  display: flex;
  padding: 1rem;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}
.menuContainer span {
  font-size: 16px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  color: #f5f5f5;
  transition: all 0.3 ease-out;
}

.menuButton {
  float: left;
  width: 60px;
  height: 60px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 50px;
  display: inline-block;
  text-decoration: none;
  margin: 0 5px 25px 5px;
  transition: all 0.3s ease-out;
  background-color: #f0eeee;
  box-shadow: 0px 5px 0px #3cbed0;
}
.menuButton span {
  font-size: 14px;
  font-weight: 800;
  line-height: 60px;
  margin-left: 10px;
  color: #e3378d;
  transition: all 0.3 ease-out;
}
.menuButton:hover {
  background-color: #f0eeee;
  box-shadow: 0px 5px 0px #e3378d;
}
.menuButton:hover i {
  color: #e3378d;
}
.menuButton:hover .icon {
  background-color: #f0eeee;
}
.menuButton:nth-child(1):hover {
  width: 180px;
  cursor: default;
}
.menuButton:nth-child(2):hover {
  width: 150px;
}

.icon {
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  transition: all 0.3 ease-out;
}
.icon i {
  font-size: 25px;
  line-height: 60px;
  color: #3cbed0;
  transition: all 0.3 ease-out;
}/*# sourceMappingURL=todoStyles.css.map */