* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
    width: 100%;
    background-color: skyblue;
}

.container {
    width: 30rem;
    margin: 2rem auto;

    .title {
        text-align: center;
    }
}

.form {
    background-color: aliceblue;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;

    input {
        flex: 1;
        padding: 0.7rem;
        border: none;
        background-color: transparent;
        outline: none;
    }

    .button {
        padding: 0.7rem;
        background-color: darkblue;
        color: white;
        cursor: pointer;
        border: none;
    }
}

.lists .todo {
    gap: 0.5rem;
    display: flex;
    padding: 0.5rem;
    border-radius: 5px;
    margin-top: 0.5rem;
    align-items: center;
    justify-content: space-between;
    background-color: aliceblue;

    i {
        cursor: pointer;
    }
}

// .icon {
//     font-size: 32px;
//     background-color: azure;
//     height: 200px;
// }
